* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

.flex-container {
    flex-direction: row;
    width: 100%;
}

.hero {
    background: #1F2937;
    /* flex:1; */
    height: 400px;
    color: #ffffff;
}

.menu-container { 
    padding: 20px 0;
    background: #1F2937;
    display: flex;
    justify-content: center;
}

.title {
    color: #ffffff;
    font-weight: 600;
}

.links {
    display: flex;
    justify-content: flex-end;
    flex:1
}

.menu {
    display: flex;
    font-size: 18px;
    width: 900px;
    color:  #E5E7EB;
    justify-content: space-around;
}

.menu-2,
.menu-3,
.social {
    margin-left: 50px;
}

.social {
    margin-top: -10px;
    border-radius: 10px;
}

.hero-image{
    width: 400px;
    height: 300px;
    padding-left: 100px;
}

.hero {
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.hero-content {
    padding: 40px;
    display: flex;
    font-size: 18px;
    width: 1000px;
    color:  #E5E7EB;
    justify-content: space-around;
}

.top-text {
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 20px;
}

.hero-text{
    padding-bottom: 20px;
    line-height: 30px;
}

.project-grid-container {
    display: flex;
    padding-bottom: 90px;
}

.project-grid {
    display: flex;
    flex: 1;
    padding: 10px;
    align-items: center;
}

.project-text {
    padding: 10px;
    width: 70%;
}

.project-grid-item {
    flex: 1;
    width: 250px;
    height: 300px;
    margin: 20px ;
}

.project-grid img  {
    border-radius: 10px;
}

.project-grid-item .project-text {
    padding-left: 10px;
}

img {
    border-color: #1F2937;
    border-style: solid;
    border-width: 2px;
    margin-bottom: 12px;
}

h3 {
    text-align: center;
    line-height: 100px;
    font-size: 36px;
    font-weight: bolder;
}

.quote {
    background: #E5E7EB;
    padding-top: 60px;
    padding-left: 250px;
    padding-right: 250px;
    height: 200px;
    line-height: 50px;
    font-size: 30px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    text-align: justify;
}

.contact {
    background: #3882F6;
    display: flex;
    border-radius: 10px;
    border-color: none;
    margin: 50px 200px;
    padding: 10px 80px;
    align-items: center;
    justify-content: space-around;
    color: #ffffff;
}


.contact-text p {
    opacity: 0.7;
    margin: 5px 30px 30px 50px;
}

h3 {
    font-family: 'Roboto', arial;
    padding: 0;
    margin: 30px 0px 0px 50px;
}

.contact-button {
    display: flex;
}

.contact-button button {
    color: #ffffff;
    font-family: 'Roboto', arial;
    border-color: #ffffff;
    border-radius: 8px;
    background-color: #3882F6;
    padding: 15px 25px;
    font-size: 15px;
}

.flex-container .footer {
    background: #1F2937;
    flex:1;
    line-height: 50px;
    height: 50px;
    align-items: center;
    color: #E5E7EB;
    padding: 1em;
    text-align: center;
    font-size:xx-small;
}